<h1 class="new">Add New Contact</h1>


<form action="/contacts" method="post">
  <div> First Name: <input type="text" name="first_name"></div>
  <div> Last Name: <input type="text" name="last_name"></div>
  <div> Email: <input type="text" name="email"></div>
  <div> Note: <input type="text" name="note"></div>
  <div><input type="submit" value="New Contact"></div>
</form>
