*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  margin: 10px;
  background-color: rgb(81, 181, 239)
}


.contact {
  background-color: rgb(20, 229, 51);
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 15px;
  border-radius: 2%;
}

.all_contacts {
  background-color: rgba(158, 75, 12, 0.9);
  color: black;
  padding: 0;
  border-radius: 2%;
}

.contact_info {
  text-align: left;
}

.new {
  background-color: rgba(158, 75, 12, 0.9);
  color: black;
  border-radius: 2%;
}

.button {
  background-color: rgba(158, 75, 12, 0.9);
  border-radius: 5%;
  border-color: rgba(158, 75, 12, 0.9);
}

.button:hover {
  color: white;
}

.button:active {
  background-color: white;
  color: rgba(158, 75, 12, 0.9);
}

h1 {
  background-color: rgb(138, 142, 134);
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 2%;
}

nav a {
  background-color: rgb(153, 255, 71);
  color: white;
  text-align: center;
  padding: 2.5px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 2px;
  border-radius: 2%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: rgba(158, 75, 12, 0.9);
  color: white;
}

main p {
  background-color: rgba(158, 75, 12, 0.9);
  padding: 5px;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 2px;
  border-radius: 2%;
}

span {
  text-decoration: underline rgb(20, 229, 51);
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  background-color: rgb(20, 229, 51);
  font-weight: bolder;
  margin-right: 20px;
  padding: 10px 10px 5px 5px;
  margin-bottom: 10px;
  border-radius: 2%;
}

li a {
  font-size: 0.75em;
  padding-left: 2px;
}

li a:nth-child(2) {
  border-right: 0.1em solid black;
  padding-right: 0.5em;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 0.5em;
  float: left;
  width: 100%
}

form {
  text-align: center;

}
